# grub.pbkdf2.sha512.10000.709462A1171417CF2D44012DCD0D4637136A4B4DEEA051DAF9707BD05FBB609F08A8017D336E1284D801F288447C16709D23106769B55680F5A5864454009C90.C81C5BA6BF633FDE047A1220CAF959FAD0F53EF3733FC97DC85B1467CBDED101BEEB9198785AFE3399583C86B5BBE1558C65DB750CDB0592DA7662601C2BB522
- name: Set GRUB2 password hash in user.cfg
  copy:
    content: "GRUB2_PASSWORD=grub.pbkdf2.sha512.10000.709462A1171417CF2D44012DCD0D4637136A4B4DEEA051DAF9707BD05FBB609F08A8017D336E1284D801F288447C16709D23106769B55680F5A5864454009C90.C81C5BA6BF633FDE047A1220CAF959FAD0F53EF3733FC97DC85B1467CBDED101BEEB9198785AFE3399583C86B5BBE1558C65DB750CDB0592DA7662601C2BB522"
    dest: /boot/grub2/user.cfg
    owner: root
    group: root
    mode: '0600'

- name: Check if system is UEFI
  stat:
    path: /sys/firmware/efi
  register: efi_dir

- name: Update GRUB2 configuration (BIOS)
  command: grub2-mkconfig -o /boot/grub2/grub.cfg
  when: not efi_dir.stat.exists

- name: Update GRUB2 configuration (UEFI)
  command: grub2-mkconfig -o /boot/efi/EFI/redhat/grub.cfg
  when: efi_dir.stat.exists
