---
- name: Image builder playbook rhel8
  hosts: all
  become: true
  gather_facts: true
  tasks:
    - name: EC2 metadata facts
      amazon.aws.ec2_metadata_facts:
        metadata_token_ttl_seconds: 3600

    - name: Disable subscription manager for dnf
      ansible.builtin.lineinfile:
        path: /etc/yum/pluginconf.d/subscription-manager.conf
        create: true
        regexp: enabled\s*=.*
        line: enabled = 0
        state: present

    - name: Update cache
      ansible.builtin.shell:
        cmd: dnf makecache -y

    - name: Create packer directory
      ansible.builtin.file:
        path: /home/ec2-user/packer
        recurse: false
        state: directory
        mode: '0700'

    - name: Swappiness
      ansible.posix.sysctl:
        name: vm.swappiness
        state: present
        value: '10'

    - name: Copy ec2-metadata to host
      ansible.builtin.copy:
        src: "{{ playbook_dir }}/files/ec2-metadata"
        dest: "/opt/aws/community/bin/"
        mode: '0755'

    - name: Enable EC2 metadata
      ansible.builtin.shell:
        cmd: update-alternatives --verbose --install /usr/bin/ec2-metadata ec2-metadata /opt/aws/community/bin/ec2-metadata 20000

    - name: Download rapid7
      ansible.builtin.get_url:
        url: https://download2.rapid7.com/download/InsightVM/R7ScanAssistant_amd64.rpm
        dest: /home/ec2-user/packer/R7ScanAssistant_amd64.rpm
        checksum: sha512:https://download2.rapid7.com/download/InsightVM/R7ScanAssistant_amd64.rpm.sha512sum

    - name: Install rapid7 rpm
      ansible.builtin.dnf:
        name: '/home/ec2-user/packer/R7ScanAssistant_amd64.rpm'
        state: present
        disable_gpg_check: true        

    - name: remove rapid7 rpm
      ansible.builtin.file:
        path: /home/ec2-user/packer/R7ScanAssistant_amd64.rpm
        state: absent

    - name: Import epel gpg key
      ansible.builtin.shell:
        cmd: rpm --import https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-8

    - name: Install EPEL package
      ansible.builtin.dnf:
        name: 'https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm'
        state: present

    - name: Install ssm
      ansible.builtin.dnf:
        name: 'https://s3.amazonaws.com/ec2-downloads-windows/SSMAgent/latest/linux_amd64/amazon-ssm-agent.rpm'
        state: present

    - name: download awscli
      ansible.builtin.get_url:
        url: https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip
        dest: /home/ec2-user/packer/awscli-exe-linux-x86_64.zip

    - name: Unpack awscli
      ansible.builtin.command:
        chdir: /home/ec2-user/packer
        cmd: unzip awscli-exe-linux-x86_64.zip

    - name: Install awscli
      ansible.builtin.command:
        chdir: /home/ec2-user/packer/aws
        cmd: ./install

    - name: Enable awscli
      ansible.builtin.command:
        cmd: update-alternatives --verbose --install /usr/bin/aws aws /usr/local/bin/aws 20000

    - name: download cfn helpers
      ansible.builtin.get_url:
        url: https://s3.amazonaws.com/cloudformation-examples/aws-cfn-bootstrap-py3-latest.tar.gz
        dest: /home/ec2-user/packer/aws-cfn-bootstrap-py3-latest.tar.gz

    - name: Unpack cfn helpers
      ansible.builtin.command:
        chdir: /home/ec2-user/packer
        cmd: tar -xzvf aws-cfn-bootstrap-py3-latest.tar.gz
    
    - name: Cloud-init-genkeytypes
      ansible.builtin.replace:
        path: /etc/cloud/cloud.cfg
        regexp: 'ssh_genkeytypes:.*'
        replace: "ssh_genkeytypes:  ['rsa', 'ecdsa', 'ed25519']"
    
    - name: Apply CIS standards
      ansible.builtin.include_role:
        name: cis

    - name: Truncate logs
      ansible.builtin.shell:
        cmd: "cat /dev/null > {{ item }}"
      loop:
        - /var/log/cloud-init.log
        - /var/log/cloud-init-output.log
        - /var/log/messages

    - name: Touch cloud-init log
      ansible.builtin.file:
        path: /var/log/cloud-init.log
        state: touch
        mode: '0600'
        owner: root
        group: root
        seuser: system_u
        serole: object_r
        setype: cloud_log_t
        selevel: s0
